body {
    background-color: #d00025;
    background-image: url(img/hands%20banner.jpg);
    background-position:top;
    background-size: 50%;
    background-repeat:repeat-x;
    padding: 0px;
    margin: 0px;
}

.login-form {
    top:90px;
    position:relative;
    box-sizing: border-box;
    margin: 25px auto;
    margin-bottom:0px;
    width: 100%;
    max-width:400px;
    background-color: white;
    padding: 100px 50px 50px 50px;
    box-shadow: 1px 5px 2px #330000;
}

.signup-form {
    top:-40px;
    position:relative;
    box-sizing: border-box;
    margin: 25px auto;
    margin-bottom:0px;
    width: 100%;
    max-width:400px;
    background-color: white;
    padding: 50px 50px 50px 50px;
    box-shadow: 1px 5px 2px #330000;
    z-index: -1;
}

#logo {
    top:30px;
    left: 50%;
    transform: translateX(-50%);
    position:absolute;
    background-color: white;
    background-size: 170px auto;
    background-position: center center;
    background-repeat: no-repeat;
    max-width:100%;
    height: 200px;
    width: 200px;
    padding: 0px;
    border: 5px solid white;
    box-shadow: 1px 3px 2px grey;
    z-index: 1;
}

h1 {
    font-weight:bold;
    font-size:35px;
    font-family:Candara;
    text-align: center;
    margin: 100px auto 50px auto;
}

a {
    text-decoration: none;
}

span{
    background:#fff;
    padding:0 10px;
}

.or{
    text-align:center;
    margin-bottom:20px;
    margin-top:100px;
    width:100%;
    border-bottom:1px solid #000;
    line-height:0.1em;
}

.social_media {
    text-align:center;
    position:relative;
    top:-75px;
}

.form-group {
    margin-bottom: 15px;
}

.input-title {
    float:left;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family:Candara;
    font-size: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family:Candara;
    font-size: 20px;
}

.form-input {
    width: 100%;
    display: block;
    height: 35px;
    padding: 6px 12px;
    font-size: 12px;
    font-family: sans-serif;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
    line-height: 1.5;
}

.btn-login {
    background-color: firebrick;
    font-family:Candara;
    font-size: 20px;
    color: white;
    padding: 10px;
    border: 1px solid firebrick;
    border-radius: 5px;
    box-shadow: 2px 4px 4px #330000;
    width: 200px;
    margin:auto;
    margin-top:70px;
    display:block;
}

.btn-signup {
    background-color: firebrick;
    font-family:Candara;
    font-size: 20px;
    color: white;
    padding: 10px;
    border: 1px solid firebrick;
    border-radius: 5px;
    box-shadow: 2px 4px 4px #330000;
    width: 200px;
    margin:auto;
    margin-top:-200px;
    display:block;
}

.btn-facebook {
    margin-bottom:60px;
    padding-left:30px;
    background-image: url(img/fb.gif);
    background-color: #3b5998;
    padding: 0px;
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: 1px 2px 2px grey;
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    color: white;
}

.btn-gmail {
    margin-bottom:60px;
    top:50%;
    padding-right:30px;
    background-image: url(img/g+.gif);
    background-color: #dc4a38;
    padding: 0px;
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: 1px 2px 2px grey;
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    color: white;
}