<!DOCTYPE html>
<head>
    <title>United Volunteers | Login</title>
    <link rel="stylesheet" href="theme/css/bootstrap.css">
    <link rel="stylesheet" href="theme/style.css">
</head>

<body>
<div class="col-md-offset-2 col-md-8 text-center">
    <div class="container-fluid">
        <div id="logo">
            <img class="img-responsive" src="theme/img/uv.png">
        </div> <!-- logo -->

        <div class="login-form">
            <h1>United Volunteers</h1>
            <div ng-controller="NavigationController">
                <form class="form-group" ng-submit="logUserIn(login)">
                    <div class="form-group">
                        <label class="input-title">Username</label>
                        <input type="text" class="form-input" placeholder="Username" ng-model="login.username">
                        <label class="input-title">Password</label>
                        <input type="password" class="form-input" placeholder="Password" ng-model="login.password">
                    </div> <!-- form-group -->
                    <div class="container-fluid">
                        <button type="submit" class="btn-login">Log in</button>
                        <div class="signup-form">
                            <label style="text-align:center;margin-bottom:20px">Create an Account</label>
                            <label class="or"><span>or</span></label>
                        </div> <!-- signup-form -->
                    </div> <!-- container-fluid -->
                </form>
            </div> <!-- NavigationController -->
        </div> <!-- login-form -->
    </div> <!-- container-fluid -->
</div>  <!-- col -->

<div class="col-md-offset-2 col-md-8 text-center">

    <div class="container-fluid">
        <button type="submit" class="btn-signup"><a ui-sref="signUp">Sign Up Free</a></button>
    </div> <!-- container-fluid -->

    <div class="social_media">
        <button type="submit" class="btn-facebook"></button>
        <button type="submit" class="btn-gmail"></button>
    </div> <!-- social media -->
</div> <!-- col -->
</body>
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>

<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
<!--<script src="app/modules/users/client/directives/password-verify.client.directive.js"></script>-->
<!--<script src="app/modules/users/client/directives/password-validator.client.directive.js"></script>-->
<script src="app/modules/index/client/controllers/app.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="theme/js/jquery.min.js" type="text/javascript"></script>

<!-- Bootstrap -->
<script src="theme/js/bootstrap.min.js" type="text/javascript"></script>
<!-- Director App -->
<script src="theme/js/Director/app.js" type="text/javascript"></script>